function Tree.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 2
call Math.divide 2
pop this 0
push this 0
push constant 25
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 25
pop this 0
label IF_FALSE0
push this 0
push constant 255
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 255
pop this 0
label IF_FALSE1
push this 0
push constant 25
sub
push constant 250
push this 0
push constant 25
add
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 249
pop this 1
push pointer 0
return
function Tree.addBranch 1
push argument 0
pop pointer 0
push this 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 1
push constant 2
call Math.divide 2
pop local 0
push local 0
push this 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
pop local 0
label IF_FALSE1
push this 0
push local 0
sub
push this 1
push this 0
push local 0
add
push this 1
call Screen.drawLine 4
pop temp 0
push this 1
push constant 1
sub
pop this 1
push constant 0
not
return
